extends layout.pug 
block title 
 title Home Page
block content
  main.bgimage
    .container.text-center.text-white.headerset
      h2 Welcome To Sur Studio
      h1 It&apos;s Nice To Meet You
      button.btn.btn-warning.text-white.btn-lg SUBSCRIBE
 
