footer 
    .container-fluid.bg-dark.text-center.text-light(style='height:230px; width: 100%;')
      p.pt-2
        img(src='static/photos/bpk2.jpg', alt='', width='10%', height='50px')
      blockquote.blockquote.text-light(style='font-size:12px; padding-top: 0px;')
        p
          i
            | A well-known quote, contained in a blockquote element. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            br
            |  Facere, obcaecati laborum error similique voluptate dolorem eveniet id! Tenetur quaerat enim cumque, 
            br
            |  amet, vero nam in libero, repudiandae harum iure itaque!
      div(style='font-size: 4px; ')
        i.fa-solid.fa-circle.border-1.border.border-dark.text-primary
        |  
        i.fa-solid.fa-circle.border-1.border.border-dark.text-danger
        i.fa-solid.fa-circle.border-1.border.border-dark.text-warning
      img(src='static/photos/payment.jpg', alt='', width='23%')
    .container-fluid.text-center.p-3
      p
        i
          | Copywrite @2022 by
          span.text-primary  Shaheen Bano
          |  All writes reserved
                
        