extends layout.pug 
block title 
 title about Page
block content
    section#Teams.container.text-center.team
      h1 Our Amazing Teams
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores unde quis ducimus a culpa sapiente ipsum veniam iure architecto facere odit voluptatibus asperiores quibusdam maxime laudantium ipsa repellat, debitis repudiandae!
      .row
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/Shaheen.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Shaheen
              p.figure-caption Team leader
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/nilesh.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Nilesh
              p.figure-caption Co-founder
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/kishan.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Kishan
              p.figure-caption Fresher
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/santosh.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Santosh
              p.figure-caption Designer
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/ravi.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Ravi 
              p.figure-caption Front-end devloper
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/praniv.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Praveen
              p.figure-caption CEO
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/Shaheen.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Shaheen
              p.figure-caption Team leader
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/nilesh.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Nilesh
              p.figure-caption Co-founder
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/kishan.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Kishan
              p.figure-caption Fresher
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/santosh.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Santosh
              p.figure-caption Designer
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/ravi.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Ravi 
              p.figure-caption Front-end devloper
        .col-md-4.d-block.m-auto
          figure.figure
            img.figure-img.img-fluid.rounded-circle(src='static/photos/praniv.jpg', alt='...', width='150px', height='150px')
            figcaption
              h4 Praveen
              p.figure-caption CEO      