h2 Login Page
form(method="post" action="/postdata")
  label Uname 
  input(type="text", name="uname")
  br 
  label Password 
  input(type="password", name="password")
  br 
  input(type="submit", value="Login")