extends layout.pug 
block title 
 title service page
block content
    section
      #Services.container.text-center.ourservices
        h1 Services
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti officiis repudiandae dolorem odit
          | optio, perferendis animi ipsam sed tenetur maxime. Minima, consectetur tempore. Dolore, eligendi!
        .row
          .col-md-4.d-block.m-auto
            div
              i.bi.bi-cart-check-fill(style='font-size:40px;')
            h2 E-Commers
            p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, adipisci neque? Delectus
              | accusamus voluptas quos laborum aliquid facilis et blanditiis iure iusto saepe error, magni
              | eum quidem vitae illum dolor?
          .col-md-4.d-block.m-auto
            div
              i.bi.bi-cart-check-fill(style='font-size:40px;')
            h2 E-Commers
            p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, adipisci neque? Delectus
              | accusamus voluptas quos laborum aliquid facilis et blanditiis iure iusto saepe error, magni
              | eum quidem vitae illum dolor?
          .col-md-4.d-block.m-auto
            div
              i.bi.bi-cart-check-fill(style='font-size:40px;')
            h2 E-Commers
            p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, adipisci neque? Delectus
              | accusamus voluptas quos laborum aliquid facilis et blanditiis iure iusto saepe error, magni
              | eum quidem vitae illum dolor?